<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Carpet</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> {{!-- jQuery --}}
    <script src="assets/js/jquery.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <link rel="stylesheet" href="assets/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Roboto" rel="stylesheet">

</head>

<body>
    <div class="navbar-fixed">
        <nav class="red darken-4">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Red Carpet</a>

                <ul class="right">
                    <li>
                        <a href="/signin">LOGIN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {{{ body }}}

    <footer class="page-footer red darken-4">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Red Carpet
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</body>

</html>