<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Carpet</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/materialize.min.css"> {{!-- jQuery --}}
    <script src="assets/js/jquery.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="assets/js/materialize.min.js"></script>

    <link rel="stylesheet" href="assets/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway|Roboto" rel="stylesheet">



</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav class="red darken-4">
                <div class="nav-wrapper">
                    <a href="/search" class="brand-logo">Red Carpet</a>
                    <a href="#" data-activates="mobile" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="search">Add Movies</a>
                        </li>
                        <li>
                            <a href="profile">Queue</a>
                        </li>
                        <li>
                            <a href="logout">Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="mobile" class="side-nav">
            <li>
                <a href="/search">Add Movies</a>
            </li>
            <li>
                <a href="/profile">Queue</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
        </ul>
    </header>
    {{{ body }}}

    <footer class="page-footer red darken-4">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Red Carpet
                <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
            </div>
        </div>
    </footer>
    <script src="assets/js/navbar.js"></script>
</body>

</html>