<main>
    <!-- This View will require formatting once we have data flowing in -->
    <script type="text/javascript" src="assets/js/search.js"></script>


    <div class="container" style="text-align:center">
        <div class="row">



            <!-- Welcome logged in user personally to their queue -->
            <div class="col s12 m12">


                <h3>Movie Search!</h3>

                <!-- Movie Title Input Field-->
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s12">
                            <input id="movie" type="text" class="validate">
                            <label for="movie">Movie Title (Optional)</label>
                        </div>

                        <!-- Category Input Field - Select 1 Only-->
                        <div class="input-field col s12">
                            <select name="category" id="category">
                                <option value="Best Picture">Best Picture</option>
                                <option value="Actor — Leading Role">Actor — Leading Role</option>
                                <option value="Actor — Supporting Role">Actor — Supporting Role</option>
                                <option value="Actress — Leading Role">Actress — Leading Role</option>
                                <option value="Actress — Supporting Role">Actress — Supporting Role</option>
                                <option value="Animated Feature Film">Animated Feature Film</option>
                                <option value="Art Direction">Art Direction</option>
                                <option value="Cinematography">Cinematography</option>
                                <option value="Costume Design">Costume Design</option>
                                <option value="Directing">Directing</option>
                                <option value="Documentary (Feature)">Documentary (Feature)</option>
                                <option value="Documentary (Short Subject)">Documentary (Short Subject)</option>
                                <option value="Film Editing">Film Editing</option>
                                <option value="Foreign Language Film">Foreign Language Film</option>
                                <option value="Makeup">Makeup</option>
                                <option value="Music (Scoring)">Music (Scoring)</option>
                                <option value="Music (Song)">Music (Song)</option>
                                <option value="Short Film (Animated)">Short Film (Animated)</option>
                                <option value="Short Film (Live Action)">Short Film (Live Action)</option>
                                <option value="Sound">Sound</option>
                                <option value="Sound Editing">Sound Editing</option>
                                <option value="Visual Effects">Visual Effects</option>
                                <option value="Writing">Writing</option>
                            </select>

                            <label>Academy Award Category (Required)</label>
                        </div>
                        <!-- Year Select Field -Requires script below -->
                        <div class="input-field col s12">
                            <select name="year" id="year">
                            </select>
                            <label>Year (Required)</label>
                        </div>
                        <div class="col s12">
                            <p>
                                <input name="winners" type="checkbox" id="winners" />
                                <label for="winners">Show Oscar Winners Only</label>
                            </p>
                        </div>

                        <!-- Submit Button with movie icon to left of text -->
                        <a class="waves-effect waves-light btn-large">
                            <i class="material-icons left">movie</i> Search</a>
                    </form>
                </div>

            </div>
            <!-- Close column -->
        </div>
        <!-- Close row -->
    </div>
    <!-- Close container -->
</main>