<main>
    <!-- This View will require formatting once we have data flowing in -->
    <script type="text/javascript" src="assets/js/search.js"></script>


    <div class="container">
        <br>
        <div class="row z-depth-3 grey lighten-3 rounded" id="search-terms">



            <!-- Welcome logged in user personally to their queue -->
            <div class="col s12 m12">
                <h3 class="red-text text-darken-4 brand-logo" style="text-align:center">Nominee Search</h3>
                <!-- Movie Title Input Field-->
                <div class="row">
                    <form class="col s12">
                        <!-- Category Input Field - Select 1 Only-->
                        <div class="input-field col s12 goldenhue">
                            <select name="category" id="category">
                                <option value="Best Picture">Best Picture</option>
                                <option value="Animated Feature Film">Animated Feature Film</option>
                                <option value="Art Direction">Art Direction</option>
                                <option value="Cinematography">Cinematography</option>
                                <option value="Costume Design">Costume Design</option>
                                <option value="Directing">Directing</option>
                                <option value="Documentary (Feature)">Documentary (Feature)</option>
                                <option value="Documentary (Short Subject)">Documentary (Short Subject)</option>
                                <option value="Film Editing">Film Editing</option>
                                <option value="Foreign Language Film">Foreign Language Film</option>
                                <option value="Makeup">Makeup</option>
                                <option value="Music (Scoring)">Music (Scoring)</option>
                                <option value="Music (Song)">Music (Song)</option>
                                <option value="Short Film (Animated)">Short Film (Animated)</option>
                                <option value="Short Film (Live Action)">Short Film (Live Action)</option>
                                <option value="Sound">Sound</option>
                                <option value="Sound Editing">Sound Editing</option>
                                <option value="Visual Effects">Visual Effects</option>
                                <option value="Writing">Writing</option>
                                <option disabled value="Actor -- Leading Role">Actor — Leading Role -- Coming Soon!</option>
                                <option disabled value="Actor -- Supporting Role">Actor — Supporting Role -- Coming Soon!</option>
                                <option disabled value="Actress -- Leading Role">Actress — Leading Role -- Coming Soon!</option>
                                <option disabled value="Actress -- Supporting Role">Actress — Supporting Role -- Coming Soon!</option>
                            </select>

                            <label>Academy Award Category</label>
                        </div>
                        <!-- Year Select Field -Requires script below -->
                        <div class="input-field col s12 goldenhue">
                            <select name="year" id="year">
                            </select>
                            <label>Year</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="movie" type="text" class="validate black-text">
                            <label for="movie">Movie Title (Optional)</label>
                        </div>
                        <div class="col s12">
                            <p>
                                <input name="winners" type="checkbox" id="winners" class="checkbox-red" />
                                <label for="winners">Show Oscar Winners Only</label>
                            </p>
                        </div>

                        <!-- Submit Button with movie icon to left of text -->
                        <div class="col s12" style="text-align:center">
                            <button type="submit" class="waves-effect waves-light btn-large red darken-4" id="search">
                                <i class="material-icons left">local_movies</i> Search</button>
                        </div>
         
                    </form>
                </div>

            </div>
            <!-- Close column -->
        </div>
        <!-- Close row -->
        <div id="results-dump"></div>
    </div>
    <!-- Close container -->
</main>