<main>

    <div class="container">
        <br>
        <div class="row z-depth-3 grey lighten-3 rounded" id="search-terms">
            <div class="col s12 m12">
                <h3 class="red-text text-darken-4 brand-logo" style="text-align:center">Sign In to Red Carpet</h3>
                <div class="row">
                    <form class="col s12" id="signin" name="signin" method="post" action="signin">
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="email">Email Address</label>
                                <input class="validate black-text" name="email" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="password">Password</label>
                                <input class="validate black-text" name="password" type="password" />
                            </div>
                        </div>
                        {{!--
                        <input class="btn" type="submit" value="Sign In" /> --}}
                        <div class="col s12" style="text-align:center">
                            <button type="submit" class="waves-effect waves-light btn-large red darken-4" id="sign_in" value="signin">
                                <i class="material-icons left">send</i> Sign In</button>
                                    
                            <a class="waves-effect waves-light btn-large blue darken-4" id="create" href="/signup">
                                <i class="material-icons left">local_movies</i> Create Login</a>
                        </div>
                    </form>
                </div>
                {{!-- close container --}}
</main>