<main>
    <div class="container">
        <br>
        <div class="row z-depth-3 grey lighten-3 rounded" id="search-terms">

            <div class="col s12 m12">
                <h3 class="red-text text-darken-4 brand-logo" style="text-align:center"> Sign up to get the full Red Carpet experience!
                </h3>

                <div class="row">
                    <form class="col s12" id="signup" name="signup" method="post" action="/signup">
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="firstname">First Name</label>
                                <input class="validate black-text" name="firstname" type="text" />
                            </div>
                            <div class="input-field col s6">
                                <label for="lastname">Last Name</label>
                                <input class="validate black-text" name="lastname" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="email">Email Address</label>
                                <input class="validate black-text" name="email" type="email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="password">Password</label>
                                <input class="validate black-text" name="password" type="password" />
                            </div>
                        </div>
                        <div class="col s12" style="text-align:center">
                            <button type="submit" class="waves-effect waves-light btn-large red darken-4" id="signup" value='signup'>
                                <i class="material-icons left">local_movies</i> Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>